* {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-family: sans-serif;
  font-weight: bold;
  margin: auto;

}

body {
  background-image: url(female_dev.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}

.header {
  text-align: center;
  margin: 30px;
}

h1 {
  color: white;
}

.container {
  border-radius: 5px;
  background: rgba(17, 174, 236, 0.6);
  width: 400px;
  height: auto;
  box-shadow: 0 10px 35px 2px rgb(15, 138, 240);
  padding: 10px;
  color: white;
  margin-bottom: 30px;
}

.form input, select {
  margin: 4px 0 15px 0;
  width: 93%;
  padding: 3px 10px;
  border: 1.6px darkseagreen solid;
  border-radius: 3px;
}

.recommend {
  margin: 0;
  padding: 0;
}

.form2 {
  margin: 20px 0;
}

.form2 input, label {
  margin-bottom: 15px;
}

.form3 input, label {
  margin-bottom: 15px;
}

.comment {
  width: 95%;
  height: 40px;
  border: 1.7px solid gray;
  border-radius: 5px;
  padding: 5px 10px;
  margin: 5px 0;
}

.submit {
  width: 90%;
  height: 30px;
  margin: 7px 20px;
  background-color: tomato;
  color: white;
  border: none;
}